.text_intro {
    color: #000 !important;
    font-weight: 700 !important;
}

.text_title {
    font-weight: 700 !important;
    line-height: 45.6px !important;
    text-transform: uppercase !important;
}

.text-des {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 26.6px !important;
    color: #000 !important;
}